@font-face {
    font-family: 'barlow';
    src: url('./FontFiles/Barlow-Regular.ttf');
}

@font-face {
    font-family: 'bellefair';
    src: url('./FontFiles/Bellefair-Regular.ttf');
}

@font-face{
    font-family: 'barlow condensed';
    src: url('./FontFiles/BarlowCondensed-Regular.ttf');
}


body{
    min-height: 100vh;
    background-color: #080D17;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

* {
    transition: all 0.2s linear;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --font-barlow: 'barlow';
    --font-barlow-condensed: 'barlow condensed';
    --font-bellefair: 'bellefair';

    --h1-font-size: 150px;
    --h1-line-height: 171.9px;
    --h1-font-weight: 400;
    
    --h2-font-size: 100px;
    --h2-line-height: 114.6px;
    --h2-font-weight: 400;

    --h3-font-size: 56px;
    --h3-line-height: 64.18px;
    --h3-font-weight: 400;

    --h4-font-size: 32px;
    --h4-line-height: 36.67px;
    --h4-font-weight: 400;

    --h5-font-size: 28px;
    --h5-line-height: 33.6px;
    --h5-font-weight: 400;
    --h5-letter-spacing: 4.72px;

    --subh1-font-size: 28px;
    --subh1-line-height: 28px;
    --subh1-font-weight: 400;

    --subh2-font-size: 28px;
    --subh2-line-height: 32.09px;
    --subh2-font-weight: 400;

    --body-font-size: 18px;
    --body-line-height: 32px;
    --body-font-weight: 400;

}