.container{
    display: flex;
    margin: 76px auto 0px auto;
    justify-content: space-between;
    width: 1136.07px;
}

.container_title, .container_title_number{
    font-size: var(--h5-font-size);
    line-height: var(--h5-line-height);
    letter-spacing: var(--h5-letter-spacing);
}

.container_title{
    display: flex;
    justify-content: space-between;
    font-family: var(--font-barlow-condensed);
    font-weight: 400;    
    color: white;
    width: 286px;  
    align-self: flex-start;
}

.container_title_number{
    font-family: var(--font-barlow-condensed-bold);
    font-weight: 700;
    color: rgba(255, 255, 255, 0.25);
}

.content{
    height: 594px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 154px;
}

.content_crewImage{
    height: 712px;
    object-fit: contain;
    border-bottom: 1px solid #383B4B;
}

.content_crewInfo{
    width: 488px;
    min-height: 406px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.content_crewInfo_title_one{
    font-family: var(--font-bellefair);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    color: rgb(255, 255, 255, 0.5);
}

.content_crewInfo_title_two{
    font-family: var(--font-bellefair);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    color: white;
    margin-bottom: 12px;
    text-transform: uppercase;
    white-space: nowrap;
}

.content_crewInfo_desc{
    width: 444px;
    height: 233px;
    font-family: var(--font-barlow);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    color: #D0D6F9;
}

.content_crewInfo_nav{
    display: flex;
    justify-content: space-between;
    width: 132px;
}

.content_crewInfo_navDot {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.17);
    cursor: pointer;
}

.content_crewInfo_navDot:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

@media(max-width: 1280px){
    .container{
        width: 90%;
        gap: 0px;
        justify-content: space-between;
    }
}

@media(max-width: 1130px){
    .container_title{
        width: 204px;
    }
    .container_title, .container_title_number{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.38px;
    }

    .content{
        width: 40%;
        height: 500px;
        gap: 60px;
    }
    .content_crewInfo{
        width: 100%;
    }

    .content_crewInfo_title_one{
        font-size: 24px;
        line-height: 27.5px;
    }

    .content_crewInfo_title_two{
        font-size: 40px;
        line-height: 45.84px;
        white-space: initial;
    }

    .content_crewInfo_desc{
        font-size: 16px;
        line-height: 28px;
        width: 100%;
    }
    .content_crewImage{
        height: 572px;
    }
}

@media(max-width: 810px){
    .container{
        flex-direction: column;
        gap: 40px;
    }

    .content{
        width: 100%;
        height: auto;
    }

   .content_crewInfo{
        width: 458px;
        align-self: center;
        align-items: center;
   }

   .content_crewInfo_title_two{
        margin-bottom: 8px;
   }   

   .content_crewInfo_desc{
        width: 458px;
        height: auto;
        text-align: center;
        margin-bottom: 32px;
   }
   .content_crewInfo{
        justify-content: flex-start;
        gap: 8px;
        min-height: 232px; 
   }
}